<div class="container">
  <p class="playerData">
    Enjoy your play <span> {{ data.name }}</span>
    <br />
    Your current points: <span>{{ points }}</span>
    <br />
    Playing time: <span>{{ minutes }}</span
    >m <span>{{ seconds }}</span
    >s
  </p>
  <div class="optionsBtns">
    <button (click)="game.actionStart()" (click)="timeStart()">Start</button>
    <button (click)="game.actionStop()" (click)="timeStop()">Stop</button>
    <button
      (click)="game.actionReset()"
      (click)="game.actionStop()"
      (click)="reset()"
    >
      Reset
    </button>
    <button (click)="goBack()">EXIT</button>
  </div>
  <div class="game">
    <tetris-core #game (lineCleared)="onLineCleared()"></tetris-core>
    <div class="pad">
      <div>
        Game status: <span> {{ status }}</span>
      </div>
      <button id="btn1" (click)="game.actionRotate()">Rotate</button>
      <br />
      <button id="btn2" (click)="game.actionLeft()">Left</button>
      <button id="btn3" (click)="game.actionRight()">Right</button>
      <br />
      <button id="btn4" (click)="game.actionDown()">Down</button>
    </div>
  </div>
</div>
