<div class="container">
  <p class="playerData">
    Enjoy your play <span> {{ data?.name }}</span>
    <br />
    Your current points: <span>{{ points }}</span>
    <br />
    Playing time: <span>{{ minutes }}</span
    >m <span>{{ seconds }}</span
    >s
  </p>
  <div class="optionsBtns">
    <button (click)="game.actionStart()" (click)="timeStart()">Start</button>
    <button (click)="game.actionStop()" (click)="timeStop()">Stop</button>
    <button
      (click)="game.actionReset()"
      (click)="game.actionStop()"
      (click)="reset()"
    >
      Reset
    </button>
    <button (click)="game.actionStop()" (click)="goBack()">EXIT</button>
  </div>
  <div class="game">
    <tetris-core #game (lineCleared)="onLineCleared()"></tetris-core>
    <app-game-controler [ready]="status" [game]="game"></app-game-controler>
  </div>
  <app-ranking-list></app-ranking-list>
</div>
