.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.form button {
  margin: 10px 0;
  height: 50px;
  border: none;
  background-color: rgba(85, 212, 17, 1);
  width: 100%;
  border-radius: 5px;
}
.form button:hover {
  cursor: pointer;
  background-color: rgba(85, 212, 17, 0.6);
}
.form input {
  margin: 3px 0;
}
